html,body {
    height: 95vh;
}
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: yellow;

}
.head_content {
    display: flex;
    flex-direction: row;

}
.head_content_text {
    text-align: right;
    display: flex;
    flex-direction: column;
    flex:1;

}
.content_list {
    display : flex;
    flex-direction: column;
    background-color: lightblue;
}
.content {
    display:flex;
    flex-direction: column;
    flex:1 ;
    height : 87% ;
    overflow: auto;
    margin: 5px ;

}
.main_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: end;
    border-color: black;
    background-color: yellow;

}

nav a {
    float: left;
    text-decoration: none;
    color: #000000;
    height:20px;
    line-height: 18px;
    font-family: sans-serif;
    transition: .5s;
    margin: 3px;
    border-color: black;
    background-color: lightblue;
}
nav a:hover{
    background: #f43c80
}
.menu_space {
    display: flex;
    flex-direction: column;
    align-items: center;
}

