html,body {
    height: 95vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
}
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: yellow;
    padding: 10px;
    box-shadow: 0 4px 2px -2px gray;
    top: 0;
    width: 100%;
    z-index: 1000;

}
.head_content {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 10px;

}
.head_content_text {
    text-align: right;
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 10px;

}
.content_list {
    display : flex;
    flex-direction: column;
    background-color: lightblue;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.content {
    display:flex;
    flex-direction: column;
    flex:1 ;
    height : 87% ;
    overflow: auto;
    margin: 5px ;
    padding: 10px;
    background-color: white;
    border-radius: 8px;

}
.main_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: end;
    border-color: black;
    background-color: yellow;
    padding: 10px;
    box-shadow: 0 -4px 2px -2px gray;
    bottom: 0;
    width: 100%;
    z-index: 1000;

}
nav a {
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid lightblue;
}

nav a:hover{
    background: #f43c80
}
.menu_space {
    display: flex;
    flex-direction: column;
    align-items: center;

}
@media (max-width: 600px) {

    .main {
        gap: 10px;
    }
    a {
        flex-direction: column;
        align-items: center;
    }
    a img {
        width: 100px;
        height: 150px;
    }
    a p {
        text-align: center;
    }
}
@media (min-height: 801px) and (max-width: 600px) {

    .main {
        gap: 15px;
    }
    a {
        flex-direction: row-reverse;
        align-items: center;
    }
    a img {
        width: 120px;
        height: 180px;
    }
    a p {
        text-align: left;
    }
}
@media (min-height: 1000px) and (min-width: 800px) {

    .main {
        gap: 20px;
    }
    a {
        flex-direction: row;
        align-items: center;
    }
    a img {
        width: 150px;
        height: 200px;
    }
    a p {
        text-align: left;
    }
}
@media (min-width: 1024px) {
    a img {
        width: 200px;
        height: 250px;
    }
}

@media (min-width: 1280px) {
    a img {
        width: 250px;
        height: 300px;
    }
}

@media (min-width: 1440px) {
    a img {
        width: 300px;
        height: 350px;
    }
}

